.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  margin-left: 200px;
  flex-direction: column;
}

.container2{
  padding: 2rem;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
